---
import Layout from '../layouts/Layout.astro';

---

<!doctype html>
<html lang="en">
    <Layout title="About Me">
        <body>

            <h1>About Me</h1>
            <h2>... and my new astro site</h2>

            <p>I am learning Astro using Astro's introductionary tutorial. This is the second page of my website</p>
        
            <p>This site will update as I learn more.</p>
        </body>
        
    </Layout>
</html>