---
import Layout from '../layouts/Layout.astro';

---

<!doctype html>
<html lang="en"></html>
    <Layout title="Experience">
        <body>

            <h1>Experience</h1>
            <h2>Technical Experience</h2>

            <p>This page will include work experience</p>
            <ul>
                <li>Polytechnique</li>
                <li>Robert Bosch GmbH</li>
                <li>Inteligent Systems Lab, Memorial University</li>
            </ul>

            <h2>Student Design Teams</h2>
            <ul>
                <li>Sidus</li>
                <li>Paradigm</li>
                <li>Chem-E-Car</li>
            </ul>

            
        </body>
        
    </Layout>
</html>