---
import Main from '../components/Main.astro';
import H1 from '../components/H1.astro';
import Layout from '../layouts/Layout.astro';

import TechnicalList from '../components/TechnicalList.astro';
import TeamList from '../components/TeamList.astro';
import { getCollection } from 'astro:content';

const technicals = await getCollection("technicals")
const teams = await getCollection("teams")
---

<!doctype html>
<html lang="en">
    <Layout title="Experience">
        <Main>
            <div class="grid justify-items-center">
                <H1 text="Technical Experience"/>
                <TechnicalList technicals={technicals}/>
                <H1 text="Student Design Teams"/>
                <TeamList teams={teams}/>
            </div>
        </Main>   
    </Layout>
</html>