---

---

<a href="/" class="flex items-right gap-x-4">
    <img
        src="/images/linkedIn.png"
        width={60}
        height={60}
        alt="Whale Shark"
        class="rounded-2xl aspect-thumbnail object-cover"
    />
</a>

<a href="/" class="flex items-right gap-x-4">
    <img
        src="/images/github-mark.png"
        width={60}
        height={60}
        alt="Whale Shark"
        class="rounded-2xl aspect-thumbnail object-cover"
    />
</a>