---
type Props = {
    text: string;
};
const { text } = Astro.props;
---

<style>
    h1 {
        
    }
</style>
<h1 class="text-[#FFD1B2] 
        text-6xl 
        mb-16 
        text-center 
        font-bold 
        font-roboto">{text}
</h1>