---
type Props = {
    text: string;
};
const { text } = Astro.props;
---

<style>
    h2 {
    }
</style>
<h1 class="text-[#FFD1B2] 
        text-4xl 
        mb-4
        mt-8 
        text-center 
        font-bold 
        font-roboto">{text}
</h1>