---
import { Image } from "astro:assets"
import headerImage from '../assets/MUN_Logo.webp'

---
<div class="top-0 w-full bg-black px-4 sm:px-8 lg:px-24 py-8 
            text-[#FFD1B2] font-roboto font-bold">
    <header class="flex justify-between items-center max-w-5xl w-full mx-auto">
        <a href="/" class="flex items-center gap-x-4">
            <Image
                src={headerImage}
                width={60}
                height={60}
                alt="MUN_Logo"
                class="aspect-thumbnail object-cover"
            />
            <div>
                <h1 class="font-bold ">Luca Mason</h1>
                <h2 class="font-roboto text-xs">Mechatronics Engineering Student</h2>
            </div>
        </a>

        <ul class="flex gap-x-4 items-center ">
            <li><a href="/">Home</a></li>
            <li><a href="/experience/">Technical</a></li>
            <li><a href="/project/">Projects</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </header>
</div>
<!-- main text colour beige -> #FFD1B2 -->