---
import type { CollectionEntry } from "astro:content";
import Project from './Project.astro';
type Props = {
    projects: CollectionEntry<'projects'>[];
};

const { projects } = Astro.props;
const sortedProjects = projects.sort(
    (a,b) => (b.data.order ?? 0) - (a.data.order ?? 0)
);
---

<div
    class="grid grid-cols-1 
            gap-y-10 mb-24 " 
>
    {sortedProjects.map((project) => <Project project={project} />)}
</div>