---
import type { CollectionEntry } from "astro:content";
import Team from "./Team.astro";
type Props = {
    teams: CollectionEntry<'teams'>[];
}

const { teams } = Astro.props;
---

<div
    class="grid xl:grid-cols-2 grid-cols-1
            gap-x-5 gap-y-5 mb-15"
>
    {teams.map((team) => <Team team={team} />)}
</div>