---
import type { CollectionEntry } from "astro:content";
import Team from "./Team.astro";
type Props = {
    teams: CollectionEntry<'teams'>[];
}

const { teams } = Astro.props;
const sortedTeams = teams.sort(
    (a,b) => (b.data.order ?? 0) - (a.data.order ?? 0)
);
---

<div
    class="grid xl:grid-cols-2 grid-cols-1
            gap-x-5 gap-y-5 mb-15"
>
    {sortedTeams.map((team) => <Team team={team} />)}
</div>