---
import type { CollectionEntry } from "astro:content";
import Technical from './Technical.astro';
type Props = {
    technicals: CollectionEntry<'technicals'>[];
}

const { technicals } = Astro.props;
---

<div
    class="grid xl:grid-cols-2 grid-cols-1
            gap-x-5 gap-y-5"
>
    {technicals.map((technical) => <Technical technical={technical} />)}
</div>